# Web Automation and Info Search using Python

#### Challenge: 

Challenge:
We work in a company in which the prices of our products are attached to the quote of the:

- Dollar
- Euro
- Gold

We need to search the internet and get the updated value of these 3 items to calculate how much we should price our products, considering a contribution margin that we have in our dataset.

Dataset: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

We're going to create a web automation using selenium.

### 1- Importing the Libraries

In [4]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

### 2 - Getting the prices (updated)

In [6]:
chrome = webdriver.Chrome()
# getting dollar value
chrome.get('https://www.google.com.br/')
chrome.find_element(
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar', Keys.ENTER)
dollar = chrome.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# getting euro value
chrome.get('https://www.google.com.br/')
chrome.find_element(
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro', Keys.ENTER)
euro = chrome.find_element(
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# getting gold value
chrome.get('https://www.melhorcambio.com/ouro-hoje')
gold = chrome.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
gold = gold.replace(',', '.')

chrome.quit()

print(dollar, euro, gold)

4.8686 5.209499999999999 290.68

### 3 - Importing the Dataset

In [7]:
import pandas as pd

df = pd.read_excel('Produtos.xlsx')
df

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

### 4 - Updating the DS

In [9]:
df.loc[df['Moeda'] == 'Dólar', 'Cotação'] = float(dollar)
df.loc[df['Moeda'] == 'Euro', 'Cotação'] = float(euro)
df.loc[df['Moeda'] == 'Ouro', 'Cotação'] = float(gold)

df['Preço de Compra'] = df['Preço Original'] * df['Cotação']
df['Preço de Venda'] = df['Preço de Compra'] * df['Margem']

df

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,4.8686,4868.551314,1.40,6815.971840
1,Carro Renault,4500.00,Euro,5.2095,23442.750000,2.00,46885.500000
2,Notebook Dell,899.99,Dólar,4.8686,4381.691314,1.70,7448.875234
3,IPhone,799.00,Dólar,4.8686,3890.011400,1.70,6613.019380
4,Carro Fiat,3000.00,Euro,5.2095,15628.500000,1.90,29694.150000
5,Celular Xiaomi,480.48,Dólar,4.8686,2339.264928,2.00,4678.529856
6,Joia 20g,20.00,Ouro,290.6800,5813.600000,1.15,6685.640000

### 5 - Exporting the DS

In [10]:
df.to_excel('Produtos Atualizados.xlsx', index=False)